@import '../../../../variable.scss';

.main-heading {
    font-size: 24px;
    font-weight: bold;
    font-family: $font;
    margin-bottom: 20px;
}

.sub-heading {
    font-size: 16px;
    font-weight: 500;
    font-family: $font;
    color: #666;
}

.form-container {
    padding: 6%;
    background-color: #f9f9f9;
    height: 100vh;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.family-form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "flatNumber"
        "familyName"
        "phone"
        "email"
        "familyMembers"
        "submit";
}

.flatNumber {
    grid-area: flatNumber;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 85%;
}

.familyName {
    grid-area: familyName;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 85%;
}

.phone {
    grid-area: phone;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 85%;
}

.email {
    grid-area: email;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 85%;
}

.familyMembers {
    grid-area: familyMembers;
    display: grid;
    margin: 1.5% 0% 1.5% 0%;
    width: 85%;
}

.submit {
    grid-area: submit;
    display: grid;
    margin: 1.5% 0% 1.5% 60%;
    width: 25%;

    .submit-button {
        border-radius: 36px;
        border: 2px solid #1a73e8 !important;
        background: white !important;
        color: #1a73e8 !important;
        font-family: $font;
        font-weight: 500;
    }

    .submit-button:hover {
        border: 2px solid #1a73e8 !important;
        background: #1a73e8 !important;
        color: white !important;
    }

    .submit-button:disabled {
        opacity: 0.3;
    }
}





::ng-deep .mat-mdc-dialog-container .mdc-dialog__container {
    display: flex;
    justify-content: center;
}

::ng-deep .ngx-mat-timepicker-face {
    display: flex !important;
    justify-content: center !important;
}
.custom-modalbox {
    min-width: 65rem !important;
    position: relative !important;
    height: 93vh !important;
    left: 0% !important;
}
