<div class="hero-container">
  <div class="overlay"></div>
  <div class="content">
    <h1 class="brand-title">
      <span class="brand-highlight">E</span>- Society
    </h1>
    <p class="subtitle">
      Simplify everyday living for your housing society. Manage accounts and payments.
    </p>
    <div class="btn-group mt-10">
      <button mat-raised-button color="primary" class="btn btn-success mx-2" [routerLink]="['auth/login']">LOGIN</button>
      <button mat-raised-button color="accent" class="btn btn-primary mx-2" [routerLink]="['auth/signup']">SIGN UP</button>
    </div>
  </div>
</div>
