@if (!loading) {
<div class="outward-container">
    <div class="header">
        <h1 class="main-heading">Create Outward Payment Request</h1>
    </div>

    <form [formGroup]="outwardPaymentForm">
        <!-- Invoice Details -->
        <mat-card class="form-card">
            <mat-card-header>
                <h3 class="main1-heading">
                    <mat-icon>description</mat-icon>
                    Invoice Details
                </h3>
            </mat-card-header>
            <mat-card-content>
                <div class="form-grid">
                    <!-- 2 columns -->
                    <mat-form-field appearance="outline" class="invoice-input">
                        <mat-label>Invoice Number</mat-label>
                        <input matInput formControlName="invoiceNumber" maxlength="7" placeholder="INV-001">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="invoice-date">
                        <mat-label>Invoice Date</mat-label>
                        <input matInput [matDatepicker]="invoiceDate" formControlName="invoiceDate" [max]="today">
                        <mat-datepicker-toggle matSuffix [for]="invoiceDate"></mat-datepicker-toggle>
                        <mat-datepicker #invoiceDate></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="vendor-name">
                        <mat-label>Vendor Name</mat-label>
                        <input matInput formControlName="vendorName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="amount-field">
                        <mat-label>Invoice Amount</mat-label>
                        <input matInput type="number" formControlName="invoiceAmount" placeholder="5000">
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Payment Details -->
        <mat-card class="form-card">
            <mat-card-header>
                <h3 class="main1-heading">
                    <mat-icon>payment</mat-icon>
                    Payment Details
                </h3>
            </mat-card-header>
            <mat-card-content>
                <div class="form-grid">
                    <mat-form-field appearance="outline" class="payment-method">
                        <mat-label>Payment Method</mat-label>
                        <mat-select formControlName="paymentMethod" [disabled]="true">
                            <mat-option value="Online">Online</mat-option>
                            <mat-option value="Cheque">Cheque</mat-option>
                            <mat-option value="Cash">Cash</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="payment-date">
                        <mat-label>Payment Date</mat-label>
                        <input matInput [matDatepicker]="paymentDate" formControlName="paymentDate" [max]="today">
                        <mat-datepicker-toggle matSuffix [for]="paymentDate"></mat-datepicker-toggle>
                        <mat-datepicker #paymentDate></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="description">
                        <mat-label>Description / Purpose</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>

                    @if (!selectedFile) {
                    <div class="file-upload" (click)="fileInput.click()" style="cursor:pointer;">
                        <label>File Upload</label>
                        <input #fileInput type="file" (change)="onFileSelected($event)" style="display:none;"
                            accept=".pdf">
                    </div>
                    } @else {
                    <div class="file-info">
                        <div class="file">
                            <mat-icon>attach_file</mat-icon>
                            <span><strong>{{ selectedFile.name }}</strong></span>
                            <button mat-icon-button (click)="removeFile()">
                                <mat-icon color="warn">close</mat-icon>
                            </button>
                        </div>

                    </div>
                    }



                    <mat-form-field appearance="outline" class="full-width" class="notes">
                        <mat-label>Additional Notes (Optional)</mat-label>
                        <textarea matInput formControlName="notes"></textarea>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Actions -->
        <div class="button-container">
            <button mat-raised-button class="submit-button" (click)="onSubmit()" type="submit"
                [disabled]="this.outwardPaymentForm.invalid || !selectedFile">
                Submit for Approval
            </button>
        </div>
    </form>
</div>
} @else {
<div class="spinner">
    <mat-spinner [strokeWidth]="5"></mat-spinner>
    <span class="loading-txt">{{ loaderText }}</span>
</div>
}