<mat-toolbar class="topbar" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="mobile-toggle">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="sidenav-header">
    <mat-icon class="app-logo">apartment</mat-icon>
    <span class="app-title">e<span class="highlight">Society</span></span>
  </div>

  <span class="flex-spacer"></span>

  <button mat-icon-button>
    <mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
  </button>

  <div class="user-info">
    <mat-icon class="user-avatar">account_circle</mat-icon>
    <span class="app-title" >{{ displayName | titlecase }}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="layout-container">
  <!-- Side Navigation -->
  <mat-sidenav #sidenav="matSidenav" mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item class="list" routerLink="/dashboardPage" routerLinkActive="active" (click)="nagigateToPage('dashboardPage')">
        <mat-icon class="user-avatar">dashboard</mat-icon>
        <span class="list-title" >Dashboard</span>
      </a>

      <a mat-list-item class="list" routerLink="/family" routerLinkActive="active" (click)="nagigateToPage('family')">
        <mat-icon class="user-avatar">group</mat-icon>
        <span class="list-title">{{isAdmin ? 'Famiies': 'Family Details'}}</span>
      </a>

      <a mat-list-item class="list" routerLink="/payments" routerLinkActive="active" (click)="nagigateToPage('dashboardPage')">
        <mat-icon class="user-avatar">payments</mat-icon>
        <span class="list-title">Payments</span>
      </a>

      <a mat-list-item class="list" routerLink="/reports" routerLinkActive="active" (click)="nagigateToPage('dashboardPage')">
        <mat-icon class="user-avatar">insert_chart</mat-icon>
        <span class="list-title">Invoices</span>
      </a>

      <a mat-list-item class="list" routerLink="/reports" routerLinkActive="active" (click)="nagigateToPage('dashboardPage')">
        <mat-icon class="user-avatar">chat_bubble_outline</mat-icon>
        <span class="list-title">Complaints</span>
      </a>

      <mat-divider class="list"></mat-divider>

      <a mat-list-item class="list" routerLink="/support" routerLinkActive="active" (click)="nagigateToPage('dashboardPage')">
        <mat-icon class="user-avatar">help_outline</mat-icon>
        <span class="list-title">Help & Support</span>
      </a>

      <a mat-list-item class="list" (click)="logout()">
        <mat-icon class="user-avatar">arrow_back_ios</mat-icon>
        <span class="list-title">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    @if(this.pageName === 'dashboardPage'){
      <app-dashboard-content></app-dashboard-content>
    } 
    @if (this.pageName === 'family') {
      <app-family-details></app-family-details>
    }
    
  </mat-sidenav-content>
</mat-sidenav-container>
