/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif !important;
}

mat-label {
  font-family: Poppins, sans-serif !important;
}

mat-option {
  font-family: Poppins, sans-serif !important;
}

mat-select {
  font-family: Poppins, sans-serif !important;
}

mat-stepper {
  .mat-step-icon-selected  {
    background-color: #1a73e8 !important;
  }
  .mat-step-icon-state-edit {
    background-color: #1a73e8 !important;
  }
  .mat-step-label {
    font-family: Poppins, sans-serif !important;
  }
  .mat-step-label.mat-step-label-selected  {
    font-weight: 600 !important;
  }
}

input {
  font-family: Poppins, sans-serif !important;
}

::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #1a73e8 !important;
  color: var(--mdc-theme-primary, #1a73e8) !important;
}

::ng-deep .mdc-form-field>label {
    font-family: 'Poppins' !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:indeterminate~.mdc-checkbox__background{
    border-color: #1a73e8 !important;
    background-color: #1a73e8 !important;
}

::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font-family: 'Poppins' !important;
}